<p>{{ 'Hello' + 'World'}}</p>
<div id = "pattern" class = "pattern">
	<ul class="g">
		<li  ng-repeat = "idx in images">
				<a >
					<img ng-click="addImage()" ng-src="images/cartman.png"/>
				</a>
				<p>This is image #{{idx}}</p>
		</li>
	</ul>
</div>

<iframe src='http://www.youporn.com/embed/56475/japanese-wife/' frameborder='0' height='481' width='608' scrolling='no' name='yp_embed_video'><a href='http://www.youporn.com/watch/56475/japanese-wife/'>Japanese Wife</a> powered by <a href='http://www.youporn.com'>YouPorn</a>.</iframe><br /><a href='http://www.youporn.com/watch/56475/japanese-wife/'>Japanese Wife</a> powered by <a href='http://www.youporn.com'>YouPorn</a>


Number of images: {{images.length}}
<img ng-click="addImage()" ng-src="images/cartman.png"/>